$soft_terracotta: #ebb999;
$calm_meadow: #D6EACC;
$sunny_side_up: #F9BD50;
$brick_barn: #DA8E68;
$softly_rose: #EEB7B3;
$soft_mocha: #CEAD9B;
$alpaca_brown: #916341;
$gentle_sky: #84BDE7;
$salmon_rose: #F4AA91;
$fresh_hay: #C0BB72;
$summer_mist_green: #BECDB7;
$harvest_cream: #F3DAB2;
$mossy_gray: #9D957F;
$golden_green: #CCBA20;
$coral_rose: #E47D61;
$young_pear: #E2DB8A;
$pink_beige: #F9D0BA;
$celery: #D3DB8A;
$country_oak: #B2884E;
$country_rose: #D37F8F;
$dried_basil: #8C8854;
$balmy_sky: #739DCD;
$berry_jam: #C85D5C;
$spring_meadow: #AEC378;

$olive_green: #5f6527;