$cocoa_brown: #98605e;
$caramel: rgba($color: #bc611e, $alpha: 0.4);
$vanilla: #e8c59c;
$pumpkin: #e5a323;
$golden_yellow: #f6ae54;
$white_lily: rgba($color: #f0f6da, $alpha: 0.6);
$apple_green: #a7d28d;
$olive_green: #5f6527;
$rose: #e95464;