* {
  box-sizing: border-box;
}

body {
  overflow-wrap: break-word;
  word-break: break-word;
}

.wrapper {
  height: 100%;
  min-height: 1500px;
  width: 100%;
  min-width: 1000px;
  display: flex;
}