.entries__top
  .entries__top__left-corner
  .entries__top__right-corner

.entries__latest-title
  %h2 最新投稿

%ul.entries__latest-tiles
  %li.tile
  %li.tile
  %li.tile
  %li.tile
  %li.tile
  %li.tile
  %li.tile
  %li.tile
  %li.tile

.entries__bottom
  .entries__bottom__left-corner
  .entries__bottom__right-corner