.entries {
  height: calc(100% - 80px);

  &__top {
    margin: 20px 20px 0;
    display: flex;
    justify-content: space-between;

    &__left-corner {
      background-image: url(entries_corner.png);
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotateZ(270deg);
      height: 100px;
      width: 100px;
    }
    &__right-corner {
      background-image: url(entries_corner.png);
      background-size: contain;
      background-repeat: no-repeat;
      height: 100px;
      width: 100px;
    }
  }
  &__latest-title {
    margin: 20px 60px 10px;
    h2 {
      letter-spacing: 3px;
      font-size: 40px;
      font-weight: 200;
      border-bottom: 1px solid $apple_green;
    }
  }

  &__latest-tiles {
    height: calc(100% - 350px);
    padding: 60px;
    display: flex;
    flex-wrap: wrap;

    .tile {
      background-color: white;
      height: calc(33.3% - 20px);
      width: calc(33.3% - 20px);
      padding: 20px;
      margin: 10px;
      display: flex;
      flex-direction: column;

      &__image {
        background-color: skyblue;
        height: 225px;
        object-fit: cover;
      }
      &__noimage {
        background-image: url(noimage.png);
        height: 225px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &__title {
        margin-top: 5px;
        height: 18px;
        text-overflow: ellipsis;
      }
      &__user-name {
        height: 18px;
        text-align: right;
        text-overflow: ellipsis;
      }
    }
    a {
      text-decoration: none;
      color: $olive_green;
    }
  }
  .entries__bottom {
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;

    &__left-corner {
      background-image: url(entries_corner.png);
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotateZ(180deg);
      height: 100px;
      width: 100px;
    }
    &__right-corner {
      background-image: url(entries_corner.png);
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotateZ(90deg);
      height: 100px;
      width: 100px;
    }
  }
}